<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css"> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <title>WebGL Globe</title>
    <meta charset="utf-8">
  </head>
  <body>
    <script type="text/javascript">
        var viruses = <%- JSON.stringify(viruses) %>;
        var user = <%- JSON.stringify(user) %>;
        var user_id = user.id;
        var virus_array = [];
    </script>
  <div id="container"></div>
  <div id="info">
    <strong><a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> <span class="bull">&bull;</span> Created by the Google Data Arts Team <span class="bull">&bull;</span> Data acquired from <a href="http://sedac.ciesin.columbia.edu/gpw/">SEDAC</a>
  </div>
        <div id="light" style="text-align: center">
            <form id="addVirus" action="/send" method="post" enctype="multipart/form-data">
               <input id="userId" type="hidden" name="userId" value=<%= user.id %>></input>
               <div style="margin: 30px;">
               <select id="diease-type-selector" name="diseaseTypeId">
                 <option value="1">Ebola</option>
                 <option value="2">Measles</option>
                 <option value="3">Malaria</option>
               </select>
               </div>
               <input id="latitude" type="hidden" name="latitude" value="50"></input>
               <input id="longitude" type="hidden" name="longitude" value="50"></input>
               <input id="location" type="hidden" name="location"></input>
               <textarea id="report-box" rows="4" cols="50" name="detail">
               </textarea>
               <input id="report-button-popup" type="submit" value="Report Virus!" class="btn btn-default">
            </form>
        </div>
        <input id="comment-virus-id" type="hidden"></input>
        <div id="comment-popup-show">
                <ul id="comments-list"></ul>
               <input id="userId" type="hidden" name="userId" value=<%= user.id %>></input>
               <div>
               <textarea id="comment-box" rows="1" cols="50" name="postComment">
               </textarea>
               <button id="send-comment-button">Comment</button>
               </div>
        </div>


        <div id="fade" onClick="lightbox_close();"></div>
        <div id="comment-popup-fade" onClick="fadeCommentPopup();"></div> 
        <button id="admin-access">Admin Access</button>
<div id="currentInfo">
    <div style="position:absolute; width:400px;">
    <span id="ebola" class="year">Ebola</span>
    <span id="measles" class="year">Measles</span>
    <span id="malaria" class="year">Malaria</span>
    </div>
    <div style="position:absolute; width:400px; margin-top: 20px;">
    <button id="report-button" onclick="postGig()" disabled>Welcome <%= user.username %>!</button>  
    </div>
 </div>
    <ul id="report-list">
        <% viruses.forEach(function(virus) { %>
               <li id="report-container">
                <div class="label-main">Personnel</div>
                <div>
                <%= virus.user.username %>
                </div>
                <div class="label-main">Virus Type</div>
                <div>
                <%= virus.virus_type.virus_type %>
                </div>
                <div class="label-main">Detail</div> 
                <div>
                <%= virus.detail %>
                </div>
                <div style="color:steelblue;">Location</div> 
                <div>
                <%= virus.location %>
                </div>
                <div style="color:steelblue;">Date</div>
                <div>
                <%= virus.date %>
                </div>
                <button id="popup-comment" onclick="showCommentPopup('<%= virus.id %>')">Comments</button> 
                </li> 
            <% }); %>
    </ul>



  <a id="ce" href="http://www.chromeexperiments.com/globe">
    <span>This is a Chrome Experiment</span>
  </a>

  <script type="text/javascript" src="/third-party/Detector.js"></script>
  <script type="text/javascript" src="/third-party/three.min.js"></script>
  <script type="text/javascript" src="/third-party/Tween.js"></script>
  <script type="text/javascript" src="globe.js"></script>  
  <script type="text/javascript" src="index.js"></script> 
  </body>

</html>