<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="login.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>        
        <script type="text/javascript" src="example.js"></script>
    </head>
    <body style="text-align: center; margin:15%;"> 
        <% if (message) { %>
        <p id="message-container"><%= message %></p>
        <% } %> 
        <div id="login-container">
        <form id="login-form" action="/globe" method="post">
            <input type="hidden" name="formType" value="login">
            <div class="form-group">       
                <input id="usernameInput" type="text" name="username"  autocomplete="off" placeholder="Username" style="width: 250px;" value=<% if (usernameLogin){%><%= usernameLogin %><%}%>>
            </div>
            <div class="form-group"> 
                <input id="passwordInput" type="password" name="password"  autocomplete="off" placeholder="Password" style="width: 250px;" value=<% if (passwordLogin){%><%= passwordLogin %><%}%>>            
            </div>
        <input id="login-button" type="submit" value="Login" class="btn btn-default">
        </form>
        <button id="selector-button" onclick="showSignUpCell()" class="borderlessButton" style="margin:10px;">I'm New</button> 
        </div>
        <div id="sign-up-container">
        <form id="signUpForm" action="/globe" method="post">
            <input type="hidden" name="formType" value="signUp">
            <div class="form-group">       
                <input id="newUsernameInput" type="text" name="newUsername"  autocomplete="off" placeholder="Username" style="width: 250px;" value=<% if (usernameSignup){%><%= usernameSignup %><%}%>>
            </div>
            <div class="form-group"> 
                <input id="newPasswordInput" type="password" name="newPassword"  autocomplete="off" placeholder="Password" style="width: 250px;" value=<% if (passwordSignup){%><%= passwordSignup %><%}%>>            
            </div>
            <div class="form-group"> 
                <input id="newPasswordInputRepear" type="password" name="newPasswordRepeat" placeholder="Repeat Password" style="width: 250px;" value=<% if (passwordSignupRepeat){%><%= passwordSignupRepeat %><%}%>>            
            </div>
        <input id="sign-up-button" type="submit" value="Sign Up!" class="btn btn-default">
        </form>
        <button id="selector-button" onclick="showLoginCell()" class="borderlessButton" style="margin:10px;">Go to login?</button> 
        </div>
        <script language="javascript">
        /*
        $('form#signUpForm').submit(function(e){
        e.preventDefault();
        var $this = $(this); // `this` refers to the current form element
        $.post(
            $this.attr("action"), // Gets the URL to sent the post to
            $this.serialize(), // Serializes form data in standard format
            function(data) {  },
            "json" // The format the response should be in
        );
        });  
        */

        var selector = <%- JSON.stringify(selector) %>;
        console.log(selector);
        if(selector[0])
        {
            document.getElementById("login-container").style.visibility = "hidden";
            document.getElementById("sign-up-container").style.visibility = "visible";
        }

        function showSignUpCell() {
    
            $('#login-container').css("visibility", "hidden");
            $('#sign-up-container').css("visibility", "visible");
            $('#sign-up-container').css("zIndex", 1);
            $('#login-container').css("zIndex", -1); 
    
        }

        function showLoginCell() {
    
            $('#login-container').css("visibility", "visible");
            $('#sign-up-container').css("visibility", "hidden");
            $('#sign-up-container').css("zIndex", -1);
            $('#login-container').css("zIndex", 1); 

    
        }            
        </script>
    </body>
</html>